<!-- How do I refactor this to take a local -->
<!-- I changed @studnet to student and want to check the controller to see if there's
another variable I should change it for.
The test asked me to change student back to @student. I updated the local partial in my from
but not sure why the tests are passing -->

<%= form_for(student) do |f|%>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :hometown %>
  <%= f.text_field :hometown %>
</p>
<p>
  <%= f.label :birthday %>
  <%= f.date_field :birthday %>
</p>
  <%= f.submit %>
<% end %>
