<%= form_for @student do |f|%>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :hometown %>
  <%= f.text_field :hometown %>
</p>
<p>
  <%= f.label :birthday %>
  <%= f.date_field :birthday %>
</p>
  <%= f.submit %>
<% end %>

<%#= I am currenlty working on Partial with Locals lab

I want to create a create and edit form with the students form partial for students using 
the   %>
