
<% binding.pry %>

<% if student.is_a?(Array) %>
  <% student.each do |stdnt| %>
    <ul>
      <li>
        Name: <%= stdnt.name %>
      </li>
      <li>
        Birthday: <%= stdnt.birthday.strftime("%m/%d/%Y")  %>
      </li>
      <li>
        Hometown: <%= stdnt.hometown.capitalize %>
      </li>
    </ul>
  <% end %>
<% else %>
  <ul>
    <li>
      Name: <%= student.name %>
    </li>
    <li>
      Birthday: <%= student.birthday.strftime("%m/%d/%Y")  %>
    </li>
    <li>
      Hometown: <%= student.hometown.capitalize %>
    </li>
  </ul>
<% end %>







