

<%= form_tag students_path, method: :get do %>

   <%= text_field_tag :name, params[:name], placeholder: "Search for Students" %>
   <%= submit_tag "Search" %>

 <% end %>

<% if @students.present? %>
  <% @students.each do |student| %>
    <%= render partial: 'student', locals: {student: student} %>
  <% end %>
<% else %>
 <p>There are no students containing the name you have entered <%= params[:name] %></p>
<% end %>
