<!DOCTYPE html>
<html>
<head>
  <title>Educator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= form_tag(students_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Students" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<%= yield %>

</body>
</html>
